/* layout css-2023
 -----------------------------------------------------*/
.page-learning-space .ctn-1440 {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .page-learning-space {
    padding-bottom: 0px;
  }
  .page-learning-space .container {
    width: 77%;
    max-width: 77%;
  }
}

.color-white {
  color: #FFF;
}

.font-size-32 {
  font-size: -webkit-calc(12px + 0.9vw);
  font-size: calc(12px + 0.9vw);
}
@media screen and (max-width: 768px) {
  .font-size-32 {
    font-size: -webkit-calc(18px + 0.9vw);
    font-size: calc(18px + 0.9vw);
  }
}

.slider-learning-space .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../images/button-next.png) no-repeat !important;
  -webkit-background-size: 100% auto !important;
          background-size: 100% auto !important;
}
.slider-learning-space .owl-nav .owl-next span {
  display: none;
}
.slider-learning-space .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../images/button-prev.png) no-repeat !important;
  -webkit-background-size: 100% auto !important;
          background-size: 100% auto !important;
}
.slider-learning-space .owl-nav .owl-prev span {
  display: none;
}
.slider-learning-space .owl-nav button {
  width: 3vw;
  height: 3vw;
}
.slider-learning-space .owl-dots {
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slider-learning-space .owl-dots button {
  width: 0.9vw;
  height: 0.9vw;
  background: rgba(43, 43, 43, 0.4);
  border-radius: 50%;
  margin: 0px 0.4vw;
}
.slider-learning-space .owl-dots button.active {
  background: rgb(43, 43, 43);
}
@media screen and (max-width: 768px) {
  .slider-learning-space .owl-dots button {
    width: 2vw;
    height: 2vw;
    margin: 0px 1.2vw;
  }
}
@media screen and (max-width: 768px) {
  .slider-learning-space {
    margin: 0px 0px 5vw;
  }
}

.ct-thcs {
  padding: 0px 0px 7vw;
}
.ct-thcs .caption {
  margin: 0px 0px 3vw;
}
.ct-thcs .smd-title {
  margin: 0px 0px 2vw;
}
.ct-thcs .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.ct-thcs .info .item {
  width: 33%;
  padding: 0px 2%;
}
.ct-thcs .info .item .icon {
  width: 80%;
  display: inline-block;
  margin: 0 auto;
}
.ct-thcs .info .item .icon img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .ct-thcs {
    padding: 0px 0px 10vw;
  }
  .ct-thcs .smd-title {
    margin: 0px 0px 8vw;
  }
  .ct-thcs .info {
    display: block;
  }
  .ct-thcs .info .item {
    width: 100%;
  }
  .ct-thcs .info .item .text {
    margin-top: -3vw;
  }
}

.chan-dung img {
  width: 100%;
}

.reason-to-choose {
  background: #067FD7;
  padding: 3vw 0px 5vw 0px;
}
.reason-to-choose .caption {
  margin: 0px 0px 1.5vw;
}
.reason-to-choose .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.reason-to-choose .info .item {
  width: 32%;
  background: #FFF;
  margin-bottom: 1vw;
  border-radius: 1vw;
  padding: 1vw 1.5vw 1vw 1.5vw;
}
@media screen and (max-width: 768px) {
  .reason-to-choose {
    padding: 5vw 0px 15vw 0px;
  }
  .reason-to-choose .caption {
    font-size: -webkit-calc(15px + 1.9vw);
    font-size: calc(15px + 1.9vw);
    text-align: center;
    margin: 0px 0px 3.5vw;
  }
  .reason-to-choose .info {
    display: block;
  }
  .reason-to-choose .info .item {
    width: 100%;
    border-radius: 2.2vw;
    margin-bottom: 3vw;
    padding: 2vw 5 0.5vw 3vw 5.5vw;
  }
}

.blk-tab {
  padding: 3vw 0px 5vw;
}
.blk-tab .smd-title {
  margin: 0px 0px 2vw;
}
.blk-tab .slider-nav {
  margin: 0px 0px 1vw;
}
.blk-tab .slider-nav .slick-list {
  margin: 0 -1vw;
}
.blk-tab .slider-nav .slick-slide {
  padding: 0.3vw 1vw 0.5vw 1vw;
}
.blk-tab .slider-nav .item {
  background: #EFEFEF;
  color: #6F6F6F;
  border-radius: 8vw;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-family: "SVN-GothamBold";
}
.blk-tab .slider-nav .item.slick-current {
  background: #067FD7;
  color: #FFF;
}
.blk-tab .slider-nav .item span {
  display: block;
}
@media screen and (min-width: 768px) {
  .blk-tab .slider-nav .slick-list {
    margin: 0 -0.7vw;
  }
  .blk-tab .slider-nav .slick-slide {
    margin: 0 0.7vw;
  }
  .blk-tab .slider-nav .item span {
    font-size: -webkit-calc(5px + 0.6vw);
    font-size: calc(5px + 0.6vw);
  }
}
@media screen and (max-width: 768px) {
  .blk-tab {
    padding: 8vw 0px 5vw;
  }
  .blk-tab .caption {
    margin: 0px 0px 5vw;
    font-size: -webkit-calc(12px + 2.3vw);
    font-size: calc(12px + 2.3vw);
  }
  .blk-tab .slider-nav {
    margin: 0px 0px 8vw;
    padding: 0px 9vw;
  }
  .blk-tab .slider-nav .slick-arrow {
    width: 2vw;
    height: 4vw;
  }
  .blk-tab .slider-nav .slick-arrow:before {
    display: none;
  }
  .blk-tab .slider-nav .slick-next {
    right: 2vw;
    background: url(../images/ico-next-green.png) no-repeat !important;
    -webkit-background-size: 100% auto !important;
            background-size: 100% auto !important;
  }
  .blk-tab .slider-nav .slick-prev {
    left: 2vw;
    background: url(../images/ico-prev-green.png) no-repeat !important;
    -webkit-background-size: 100% auto !important;
            background-size: 100% auto !important;
  }
}

.smd-subjects {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 1vw;
}
.smd-subjects .item {
  border-radius: 1vw;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #dceaf2;
  margin: 0px 0px 1vw;
  padding: 1vw 0.5vw;
}
.smd-subjects .item span {
  line-height: 1.1em;
  display: block;
  color: #3678ae;
  font-family: "SVN-GothamBold";
}
.smd-subjects .item span.hl {
  color: #3171aa;
  font-family: "SVN-GothamBook";
}
@media screen and (max-width: 768px) {
  .smd-subjects {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2.5vw;
  }
  .smd-subjects .item {
    margin: 0px 0px 2.5vw;
    padding: 2vw 0.2vw;
  }
}

.ss-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.ss-list li .numb {
  min-width: 19%;
  line-height: 1.2em;
  font-size: -webkit-calc(4.5vw + 3px);
  font-size: calc(4.5vw + 3px);
  padding: 0px 1vw;
  font-family: "SVN-GothamBold";
  color: #39B9F4;
}
.ss-list li .info {
  line-height: 1.2em;
}
.ss-list li .info strong {
  color: #0070AF;
  display: block;
}
@media screen and (max-width: 768px) {
  .ss-list li {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0px 0px 7vw;
  }
  .ss-list li .numb {
    font-size: -webkit-calc(4.5vw + 29px);
    font-size: calc(4.5vw + 29px);
    line-height: 0.7em;
    min-width: -webkit-calc(4vw + 29px);
    min-width: calc(4vw + 29px);
  }
}

.slider-for {
  background: rgba(245, 245, 245, 0.7);
  border-radius: 1vw;
  padding: 1vw 0.5vw 1.5vw 1.5vw;
}
@media screen and (min-width: 768px) {
  .slider-for .slick-track {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider-for .tab-content-2 .smd-subjects {
    width: 48%;
    grid-template-columns: repeat(3, 1fr);
  }
  .slider-for .tab-content-2 .smd-subjects .item {
    padding: 0.1vw 0.5vw;
  }
  .slider-for .tab-content-3 .item .top-content .text {
    width: 60%;
  }
  .slider-for .tab-content-3 .item .top-content .thumb {
    width: 40%;
  }
}
.slider-for .item .top-content {
  margin: 0px 0px 2vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider-for .item .top-content.top-content-hl {
  margin: 0px 0px 0vw;
}
.slider-for .item .top-content .text {
  width: 48%;
}
.slider-for .item .top-content .thumb {
  width: 48%;
}
.slider-for .item .top-content .thumb img {
  width: 100%;
  border-radius: 1vw;
  overflow: hidden;
}
.slider-for .item .img {
  width: 100%;
}
.slider-for .item .img img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .slider-for {
    padding: 5vw 5vw 5vw 5vw;
    background: rgba(245, 245, 245, 0.7);
    border-radius: 8vw;
  }
  .slider-for .tab-content {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
  }
  .slider-for .tab-content.slick-current {
    display: block;
    visibility: visible;
    height: auto;
  }
  .slider-for .item .top-content {
    display: block;
  }
  .slider-for .item .top-content .text {
    width: 100%;
    margin: 0px 0px 4vw;
  }
  .slider-for .item .top-content .thumb {
    width: 100%;
  }
}

.s-more {
  cursor: pointer;
  background: #303030;
  display: inline-block;
  padding: 0.5vw 2vw 0.7vw 2vw;
  min-width: 18vw;
  text-align: center;
  border-radius: 5vw;
}
@media screen and (max-width: 768px) {
  .s-more {
    width: 100%;
    padding: 3vw 3vw 3vw 3vw;
  }
}

.blk-lo-trinh {
  background: #009DF5;
  color: #FFF;
  max-width: 100%;
  overflow: hidden;
}
.blk-lo-trinh.revert {
  background: #dd4f34;
}
.blk-lo-trinh.lo-trinh-2 .md-row .blk-main {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (min-width: 768px) {
  .blk-lo-trinh.lo-trinh-2 .md-row .blk-main .thumb img {
    margin-left: -38%;
    width: 138%;
  }
}
@media screen and (min-width: 768px) {
  .blk-lo-trinh.lo-trinh-2 .md-row .blk-more .info .smd-subjects {
    grid-template-columns: repeat(2, 1fr);
    width: 38%;
  }
  .blk-lo-trinh.lo-trinh-2 .md-row .blk-more .info .text {
    width: 58%;
  }
  .blk-lo-trinh.lo-trinh-2 .md-row .blk-more .title {
    margin: 0px 0px 2vw;
  }
}
.blk-lo-trinh .md-row .blk-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 3vw;
}
.blk-lo-trinh .md-row .blk-main.revert .thumb img {
  margin-left: -36%;
  width: 135%;
}
.blk-lo-trinh .md-row .blk-main .main-content {
  padding: 0.5vw 0px;
  width: 48%;
}
.blk-lo-trinh .md-row .blk-main .main-content .title {
  margin: 0px 0px 0.5vw;
}
.blk-lo-trinh .md-row .blk-main .main-content .title span {
  display: block;
  font-size: -webkit-calc(12px + 0.9vw);
  font-size: calc(12px + 0.9vw);
}
.blk-lo-trinh .md-row .blk-main .main-content .title strong {
  font-size: -webkit-calc(5px + 0.6vw);
  font-size: calc(5px + 0.6vw);
  display: block;
}
.blk-lo-trinh .md-row .blk-main .main-content .info .text {
  margin: 0px 0px 1.5vw;
}
.blk-lo-trinh .md-row .blk-main .thumb {
  width: 50%;
}
.blk-lo-trinh .md-row .blk-main .thumb img {
  width: 157%;
}
.blk-lo-trinh .md-row .blk-main .thumb .s-more {
  display: none;
}
.blk-lo-trinh .md-row .blk-more {
  display: none;
  margin: 0px 0px 4vw;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  overflow: hidden;
}
.blk-lo-trinh .md-row .blk-more.active {
  display: block;
  height: auto;
}
.blk-lo-trinh .md-row .blk-more .title {
  width: 48%;
  display: inline-block;
}
.blk-lo-trinh .md-row .blk-more .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .blk-lo-trinh .md-row .blk-more .info .smd-subjects {
    grid-auto-rows: 0.3fr;
    width: 48%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.5vw;
  }
  .blk-lo-trinh .md-row .blk-more .info .smd-subjects .item {
    background: #FFF;
    margin: 0px 0px 0.5vw;
  }
}
.blk-lo-trinh .md-row .blk-more .info .text {
  width: 48%;
  text-align: justify;
}
.blk-lo-trinh .ico-hide {
  font-family: "SVN-GothamBold";
  padding: 0 1.7vw 0 0;
  position: relative;
  display: inline-block;
  float: right;
  cursor: pointer;
  line-height: 1.2em;
  margin: 0.5vw 0px 0px;
}
.blk-lo-trinh .ico-hide:before {
  content: "";
  width: 1.2vw;
  height: 1vw;
  display: block;
  position: absolute;
  right: 0px;
  top: 56%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../images/chevron-up.png) no-repeat center center;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
}
@media screen and (max-width: 768px) {
  .blk-lo-trinh {
    padding: 5vw 0vw 3vw 0vw;
  }
  .blk-lo-trinh .ico-hide {
    padding: 0 4vw 0;
  }
  .blk-lo-trinh .ico-hide:before {
    width: -webkit-calc(3vw + 1.5px);
    width: calc(3vw + 1.5px);
    height: 2vw;
  }
  .blk-lo-trinh .md-row .blk-main {
    display: block;
  }
  .blk-lo-trinh .md-row .blk-main .main-content {
    display: block;
    width: 100%;
  }
  .blk-lo-trinh .md-row .blk-main .main-content .title {
    margin: 0px 0px 5vw;
  }
  .blk-lo-trinh .md-row .blk-main .main-content .title span {
    font-size: -webkit-calc(12px + 2.3vw);
    font-size: calc(12px + 2.3vw);
  }
  .blk-lo-trinh .md-row .blk-main .main-content .title span.hl {
    font-size: -webkit-calc(12px + 5.3vw);
    font-size: calc(12px + 5.3vw);
  }
  .blk-lo-trinh .md-row .blk-main .main-content .title strong {
    font-size: -webkit-calc(12px + 0.6vw);
    font-size: calc(12px + 0.6vw);
  }
  .blk-lo-trinh .md-row .blk-main .main-content .info .s-more {
    display: none;
  }
  .blk-lo-trinh .md-row .blk-main .main-content .info .text {
    margin: 0px 0px 5vw;
  }
  .blk-lo-trinh .md-row .blk-main .thumb {
    display: block;
    width: 100%;
  }
  .blk-lo-trinh .md-row .blk-main .thumb img {
    width: 100%;
  }
  .blk-lo-trinh .md-row .blk-main .thumb .s-more {
    display: block;
    margin: 5vw 0px 5vw;
  }
  .blk-lo-trinh .md-row .blk-more .title {
    width: 100%;
    margin: 0px 0px 5vw;
  }
  .blk-lo-trinh .md-row .blk-more .info {
    display: block;
  }
  .blk-lo-trinh .md-row .blk-more .info .smd-subjects {
    width: 100%;
    margin: 0px 0px 1vw;
  }
  .blk-lo-trinh .md-row .blk-more .info .smd-subjects .item {
    padding: 4vw 0.2vw;
  }
  .blk-lo-trinh .md-row .blk-more .info .text {
    width: 100%;
    margin: 0px 0px 2vw;
  }
}

@media screen and (min-width: 768px) {
  .slider-material .container {
    width: 100%;
  }
}
.slider-material .owl-nav button {
  width: 2.5vw;
  height: 2.5vw;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.slider-material .owl-nav button span {
  display: none;
}
.slider-material .owl-nav .owl-next {
  background: url(../images/next-button.png) no-repeat center !important;
  -webkit-background-size: 100% auto !important;
          background-size: 100% auto !important;
  right: 15%;
}
.slider-material .owl-nav .owl-prev {
  background: url(../images/prev-button.png) no-repeat center !important;
  -webkit-background-size: 100% auto !important;
          background-size: 100% auto !important;
  left: 15%;
}
@media screen and (max-width: 768px) {
  .slider-material .owl-nav button {
    width: 6vw;
    height: 6vw;
  }
  .slider-material .owl-nav .owl-next {
    right: 5%;
  }
  .slider-material .owl-nav .owl-prev {
    left: 5%;
  }
}

.form-register {
  background: url(../images/bg-form-register.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 3vw 2vw 5vw 2vw;
}
.form-register .title {
  display: block;
  margin: 0px 0px 1vw;
}
.form-register form {
  position: relative;
  background: #FFF;
  display: table;
  margin: 0 auto;
  max-width: 45%;
  width: 100%;
  padding: 2vw 2vw 4vw 2vw;
  border-radius: 1vw;
}
.form-register form .md-row {
  margin: 0px 0px 0.9vw;
}
.form-register form label {
  display: block;
  color: #333333;
  font-family: "SVN-GothamMedium";
}
.form-register form input {
  border: none;
  background: #FFF;
  border-radius: 0.5vw;
  display: block;
  padding: 0.3vw 1vw 0.4vw 1vw;
  border: 1px solid #DDDDDD;
  width: 100%;
  color: #000;
}
.form-register form input::-webkit-input-placeholder {
  color: #A6A6A6;
}
.form-register form input::-moz-placeholder {
  color: #A6A6A6;
}
.form-register form input:-ms-input-placeholder {
  color: #A6A6A6;
}
.form-register form input::placeholder {
  color: #A6A6A6;
}
.form-register form input[type=button] {
  position: absolute;
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  width: 80%;
  background: #EF4023;
  color: #FFF;
  text-transform: uppercase;
  font-family: "SVN-GothamBold";
  padding: 0.5vw 1vw 0.8vw 1vw;
  border-radius: 2vw;
  border: none;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.form-register form input[type=button]:hover {
  background: #8f2615;
}
@media screen and (max-width: 768px) {
  .form-register {
    padding: 5vw 0vw 20vw 0vw;
  }
  .form-register .title {
    margin: 0px 0px 3vw;
  }
  .form-register form {
    padding: 4vw 4vw 7vw 4vw;
    width: 100%;
    max-width: 100%;
  }
  .form-register form .md-row {
    margin: 0px 0px 2.3vw;
  }
  .form-register form input {
    padding: 2.5vw 3vw 2.5vw 3vw;
  }
  .form-register form label {
    margin: 0px 0px 2vw;
  }
  .form-register form input[type=button] {
    padding: 3vw 2vw 3.2vw 2vw;
    border-radius: 8vw;
    font-size: -webkit-calc(18px + 0.9vw);
    font-size: calc(18px + 0.9vw);
    position: relative;
    left: auto;
    top: auto;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
         -o-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    margin: 6vw auto 0 auto;
  }
}

.training-programs .three-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.training-programs .three-col .item {
  text-align: center;
  width: 32%;
  border: 1px solid #EAF3F9;
  border-radius: 1rem;
  padding: 1rem 1.3rem 4rem 1.3rem;
  position: relative;
  margin: 0px 0px 1rem;
}
.training-programs .three-col .item .thumb {
  margin: 0px 0px 1rem;
}
.training-programs .three-col .item .thumb img {
  border-radius: 50%;
  border: 1px solid #E53E21;
}
.training-programs .three-col .item .info {
  margin: 0px 0px 1rem;
}
.training-programs .three-col .item .read-more {
  position: absolute;
  bottom: 1.3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "SVN-GothamBold";
  white-space: nowrap;
  display: inline-block;
  padding: 7px 30px 9px 30px;
  border-radius: 22px;
}
.training-programs .three-col .item .read-more:hover {
  background: #b21d03;
  color: #FFF;
}
@media screen and (max-width: 768px) {
  .training-programs .three-col {
    margin: 1rem 0px 0px;
    display: block;
  }
  .training-programs .three-col .item {
    width: 100%;
  }
}

.wrapper-sl {
  position: relative;
}
.wrapper-sl:before {
  content: "";
  width: 100%;
  height: 16vw;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#067FD7));
  background: -webkit-linear-gradient(transparent, #067FD7);
  background: -o-linear-gradient(transparent, #067FD7);
  background: linear-gradient(transparent, #067FD7);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .wrapper-sl:before {
    display: none;
  }
}

.smd-roll {
  position: absolute;
  bottom: 4%;
  left: 50%;
  z-index: 5;
  text-align: center;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .smd-roll {
    display: none;
  }
}
.smd-roll p {
  white-space: nowrap;
  font-size: -webkit-calc(8px + 1.6vw);
  font-size: calc(8px + 1.6vw);
  font-weight: bold;
}
.smd-roll img {
  -webkit-animation: bounce_fixed-arrow-down 2s infinite;
       -o-animation: bounce_fixed-arrow-down 2s infinite;
          animation: bounce_fixed-arrow-down 2s infinite;
  width: 15%;
  max-width: 30px;
  min-width: 16px;
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .smd-roll img {
    max-width: 30px;
  }
}

@-webkit-keyframes bounce_fixed-arrow-down {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-o-keyframes bounce_fixed-arrow-down {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes bounce_fixed-arrow-down {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.page-boost .intro .owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}
