/* footer
 -----------------------------------------------------*/
.page-footer {
  background: #036093; }

.top-footer {
  background: #036093;
  color: #FFF;
  padding: 35px 0px 30px; }
  .top-footer .logo {
    width: 16.8%;
    margin-bottom: 30px; }
    .top-footer .logo a {
      display: inline-block; }
      .top-footer .logo a img {
        width: 100%; }
  .top-footer .info {
    margin-bottom: 20px; }
    .top-footer .info p.u-span img {
      margin-top: 9px; }
    .top-footer .info p {
      display: table; }
      .top-footer .info p img {
        width: 4%;
        margin-right: 5px;
        min-width: 12px;
        display: table-cell;
        vertical-align: bottom; }
      .top-footer .info p a {
        display: inline-block;
        font-family: 'SVN-GothamBold';
        display: table-cell; }
        .top-footer .info p a:hover {
          color: #FFF; }
      .top-footer .info p span {
        display: inline-block;
        display: table-cell; }
      .top-footer .info p:first-child a {
        font-family: 'SVN-GothamBook'; }
    .top-footer .info p.u-span img {
      margin-right: 10px; }
  .top-footer .social a {
    width: 9.6%;
    display: inline-block;
    margin-right: 10px;
    min-width: 30px; }
    .top-footer .social a img {
      width: 100%; }
  .top-footer .title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'SVN-GothamBold'; }
  .top-footer .content .md-col-1 a {
    display: block;
    color: #FFF;
    margin-bottom: 20px;
    line-height: 1; }
    .top-footer .content .md-col-1 a img {
      width: 2.4%;
      margin-right: 8px;
      min-width: 8px;
      float: left;
      margin-top: 5px; }
    .top-footer .content .md-col-1 a span {
      float: left; }
    .top-footer .content .md-col-1 a:hover {
      color: #ef4123; }
  .top-footer .content .md-col-1:last-child {
    margin-bottom: 0px; }
    .top-footer .content .md-col-1:last-child a:last-child {
      margin-bottom: 0px; }

.copy-right {
  background: #0373af;
  text-align: center;
  padding: 15px 0px;
  color: #FFF; }
  .copy-right .ctn-1440 {
    text-align: center; }

@media (max-width: 1100px) {
  .top-footer .content .md-col-1 a img {
    margin-top: 4px; } }
@media (max-width: 767px) {
  .top-footer {
    position: relative; }
    .top-footer .social {
      position: absolute;
      top: 0px;
      right: 15px;
      width: 100%;
      text-align: right; }
      .top-footer .social a {
        margin-right: 0px;
        margin-left: 10px;
        width: 8.5%;
        min-width: 35px; }
    .top-footer .col-md-4 {
      margin-bottom: 35px; }
      .top-footer .col-md-4:last-child {
        margin-bottom: 0px; }
    .top-footer .md-col-1 {
      float: left;
      width: 47.5%;
      margin-right: 5%; }
      .top-footer .md-col-1:last-child {
        margin-right: 0%; }
    .top-footer .info {
      margin-bottom: 0px; } }
@media (max-width: 400px) {
  .top-footer .md-col-1 {
    float: none;
    width: 100%; } }
