/* module css 01
 -----------------------------------------------------*/
@media screen and (min-width: 992px) {
  .page-home {
    padding-top: 86px; } }
.page-home .smd-title {
  font-size: -webkit-calc(12px + 0.7rem);
  font-size: calc(12px + 0.7rem); }

@media screen and (min-width: 992px) {
  .container-home {
    max-width: 1440px !important;
    width: 82%; } }
.blk-section {
  text-align: center; }
  .blk-section .ctn-1440 {
    padding: 50px 0px 40px; }

.ctn-1440 {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  text-align: left; }

.blk-home-01 {
  padding: 0px 0px 0px;
  position: relative; }
  .blk-home-01 .ctn-1440 {
    position: relative;
    padding: 70px 0px 10px;
    background: url(../images/home-bg-section-1.jpg) no-repeat right bottom;
    -webkit-background-size: auto 90%;
            background-size: auto 90%; }
    @media screen and (min-width: 1100px) and (max-width: 1200px) {
      .blk-home-01 .ctn-1440 {
        padding: 100px 0px 10px; } }
    @media screen and (max-width: 1200px) {
      .blk-home-01 .ctn-1440 {
        background: url(../images/home-bg-section-1.jpg) no-repeat right bottom;
        -webkit-background-size: 35% auto;
                background-size: 35% auto; } }
    @media screen and (max-width: 800px) {
      .blk-home-01 .ctn-1440 {
        background: url(../images/home-bg-section-1.jpg) no-repeat right center;
        -webkit-background-size: 35% auto;
                background-size: 35% auto; } }
  .blk-home-01 .container-home .content {
    text-align: center;
    width: 62%;
    display: inline-block; }
    .blk-home-01 .container-home .content .title {
      width: 70%;
      max-width: 400px;
      min-width: 250px;
      display: inline-block;
      margin: 0 auto 30px auto; }
    .blk-home-01 .container-home .content .smd-read-more {
      margin-bottom: 38px;
      display: block;
      width: 100%; }
    .blk-home-01 .container-home .content .img-meta {
      width: 38%;
      min-width: 200px;
      max-width: 350px;
      display: inline-block;
      clear: both; }
  @media screen and (max-width: 992px) {
    .blk-home-01 .ctn-1440 {
      padding: 38px 0px 10px; } }
  @media screen and (max-width: 768px) {
    .blk-home-01 .ctn-1440 {
      padding: 18px 0px 10px; }
    .blk-home-01 .ctn-1440 {
      background: none; }
    .blk-home-01 .container-home .content {
      width: 100%; }
      .blk-home-01 .container-home .content .smd-read-more {
        margin-bottom: 25px; }
      .blk-home-01 .container-home .content .title {
        min-width: 200px; }
      .blk-home-01 .container-home .content .title {
        width: 90%; } }

.has-quote {
  position: relative;
  font-family: 'Caveat-Bold'; }
  .has-quote:before {
    position: absolute;
    top: -webkit-calc(-100% + 18px);
    top: calc(-100% + 18px);
    left: -6px;
    content: "";
    width: 20px;
    min-width: 12px;
    height: 32px;
    display: block;
    background: url(../images/bg-text-meta-1.png) no-repeat top center;
    -webkit-background-size: 100% auto;
            background-size: 100% auto; }
    @media screen and (max-width: 1200px) {
      .has-quote:before {
        width: 17px; } }
    @media screen and (max-width: 1100px) {
      .has-quote:before {
        width: 16px; } }
    @media screen and (max-width: 600px) {
      .has-quote:before {
        left: -5px; } }

.about-us {
  padding: 0px;
  background: url(../images/bg-top-about-us.jpg) repeat-x; }
  .about-us .ctn-1440 {
    border-bottom: 2px solid #d9eaf3;
    padding: 50px 0px 30px 0px; }
    .about-us .ctn-1440 .container .thumb {
      width: 42%;
      display: table-cell;
      vertical-align: middle;
      padding-right: 11%;
      float: left; }
      .about-us .ctn-1440 .container .thumb img {
        width: 100%; }
    .about-us .ctn-1440 .container .info {
      float: right;
      vertical-align: middle;
      width: 58%;
      display: table-cell; }
      .about-us .ctn-1440 .container .info h3 {
        position: relative;
        font-family: 'SVN-GothamBold'; }
        .about-us .ctn-1440 .container .info h3 span {
          display: block; }
          .about-us .ctn-1440 .container .info h3 span.has-quote {
            display: inline-block; }
    .about-us .ctn-1440 .container .note .author {
      display: block; }
    @media screen and (max-width: 768px) {
      .about-us .ctn-1440 {
        padding: 50px 0px 15px 0px; }
        .about-us .ctn-1440 .container .info {
          width: 100%; }
          .about-us .ctn-1440 .container .info h3 {
            text-align: center; }
        .about-us .ctn-1440 .container .thumb {
          display: table;
          margin: 10px auto 0px auto;
          float: none;
          width: 70%;
          max-width: 500px; } }

.training-programs .ctn-1440 {
  padding: 50px 0px; }
  .training-programs .ctn-1440 .top-content {
    text-align: center;
    width: 70%;
    min-width: 600px;
    margin: 0px auto 50px auto; }
  .training-programs .ctn-1440 .content .grid-md-6 {
    position: relative;
    float: left;
    padding: 20px 5% 20px 5%;
    -webkit-box-shadow: 3px 3px 23px #ccc;
            box-shadow: 3px 3px 23px #ccc;
    width: 48.5%;
    margin-right: 3%;
    display: inline-block;
    border-radius: 25px; }
    .training-programs .ctn-1440 .content .grid-md-6:last-child {
      margin-right: 0px; }
  .training-programs .ctn-1440 .content .thumb {
    border: 2px solid #ef4123;
    position: absolute;
    min-width: 130px;
    left: 5%;
    top: -9%;
    width: 38%;
    border-radius: 25px;
    overflow: hidden; }
    .training-programs .ctn-1440 .content .thumb img {
      width: 100%; }
  .training-programs .ctn-1440 .content .info {
    width: 53%;
    display: inline-block;
    float: right; }
    .training-programs .ctn-1440 .content .info h3 span {
      display: block; }
    .training-programs .ctn-1440 .content .info .content {
      margin: 0px 0px 20px; }
      .training-programs .ctn-1440 .content .info .content p span {
        font-family: 'SVN-GothamMedium'; }
@media screen and (max-width: 992px) {
  .training-programs .ctn-1440 .content .grid-md-6 .thumb {
    bottom: auto;
    top: 20px; } }
@media screen and (min-width: 1200px) {
  .training-programs .ctn-1440 {
    padding: 50px 0px 30px 0px; }
    .training-programs .ctn-1440 .top-content {
      margin: 0px auto 80px auto; }
    .training-programs .ctn-1440 .content .thumb {
      width: 170px; }
    .training-programs .ctn-1440 .content .info {
      width: -webkit-calc(100% - 175px);
      width: calc(100% - 175px); } }
@media screen and (max-width: 880px) {
  .training-programs .ctn-1440 .content .thumb {
    min-width: 100px; } }
@media screen and (max-width: 768px) {
  .training-programs .ctn-1440 {
    padding: 50px 0px 30px 0px; }
    .training-programs .ctn-1440 .top-content {
      min-width: auto; }
    .training-programs .ctn-1440 .content .grid-md-6 {
      height: auto !important;
      margin: 0px 0px 90px;
      width: 100%; }
      .training-programs .ctn-1440 .content .grid-md-6:last-child {
        margin-bottom: 0px; }
      .training-programs .ctn-1440 .content .grid-md-6 .thumb {
        width: 150px;
        min-width: auto;
        bottom: auto;
        top: -10%; }
      .training-programs .ctn-1440 .content .grid-md-6 .info {
        width: -webkit-calc(100% - 175px);
        width: calc(100% - 175px); }
        .training-programs .ctn-1440 .content .grid-md-6 .info h3 {
          font-size: -webkit-calc(12px + 0.6vw) !important;
          font-size: calc(12px + 0.6vw) !important; } }
@media screen and (max-width: 576px) {
  .training-programs .ctn-1440 .top-content {
    width: 100%;
    margin: 0px auto 25px auto; }
  .training-programs .ctn-1440 .content .grid-md-6 {
    margin: 0px 0px 40px 0px;
    width: 100%;
    margin-right: 0px;
    padding: 17px 5% 17px 5%; }
    .training-programs .ctn-1440 .content .grid-md-6 .thumb {
      width: 110px;
      min-width: auto;
      bottom: auto;
      top: 20px; }
    .training-programs .ctn-1440 .content .grid-md-6 .info {
      width: -webkit-calc(100% - 125px);
      width: calc(100% - 125px); }
      .training-programs .ctn-1440 .content .grid-md-6 .info .smd-read-more a {
        padding: 7px 20px 9px 20px; } }

.home-gellerys-slider .item a {
  display: block;
  width: 100%; }
.home-gellerys-slider .item .content {
  margin: 7px 0px 0px;
  line-height: 1.2em; }
  .home-gellerys-slider .item .content p {
    text-align: center;
    font-family: 'SVN-GothamBookItalic';
    color: #333333; }
.home-gellerys-slider .owl-wrapper {
  display: table !important; }
.home-gellerys-slider .owl-item {
  height: 100%;
  display: table-cell;
  float: none;
  vertical-align: middle; }
.home-gellerys-slider .item {
  padding: 0px 25px 0px 0px; }
@media screen and (max-width: 768px) {
  .home-gellerys-slider .owl-item .item {
    padding: 0px 0px 0px 0px; } }
.home-gellerys-slider .owl-carousel .owl-nav {
  position: absolute;
  top: -webkit-calc(5% - 22.5px);
  top: calc(5% - 22.5px);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%); }
  @media screen and (max-width: 768px) {
    .home-gellerys-slider .owl-carousel .owl-nav {
      top: auto;
      bottom: 20px; } }
.home-gellerys-slider .owl-carousel .owl-nav button.owl-prev {
  width: 45px;
  height: 45px;
  display: inline-block;
  background: url(../images/ico-prev-red.png) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  margin-right: 15px; }
  .home-gellerys-slider .owl-carousel .owl-nav button.owl-prev span {
    display: none; }
.home-gellerys-slider .owl-carousel .owl-nav button.owl-next {
  width: 45px;
  height: 45px;
  display: inline-block;
  background: url(../images/ico-next-red.png) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%; }
  .home-gellerys-slider .owl-carousel .owl-nav button.owl-next span {
    display: none; }
@media screen and (max-width: 768px) {
  .home-gellerys-slider .owl-carousel .owl-nav button.owl-next {
    width: 35px;
    height: 35px; }
  .home-gellerys-slider .owl-carousel .owl-nav button.owl-prev {
    width: 35px;
    height: 35px; } }

.home-gellery {
  text-align: center;
  padding-top: 35px; }
  .home-gellery .ctn-1440 {
    max-width: 1400px;
    overflow: hidden;
    display: block !important;
    text-align: left; }
    @media screen and (min-width: 768px) {
      .home-gellery .ctn-1440 .ctn-gellry {
        margin-right: -25px !important;
        position: relative;
        width: 91%;
        min-width: 91%;
        max-width: 91%;
        float: right;
        padding: 0px; }
        .home-gellery .ctn-1440 .ctn-gellry .home-gellerys-slider {
          margin-right: 0px; }
        .home-gellery .ctn-1440 .ctn-gellry .smd-title {
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 99; } }
  @media screen and (max-width: 768px) {
    .home-gellery .ctn-1440 {
      padding: 15px 0px 0px; }
      .home-gellery .ctn-1440 .ctn-gellry .home-gellerys-slider {
        margin-right: 0px; }
      .home-gellery .ctn-1440 .ctn-gellry .smd-title {
        margin: 0px;
        text-align: center; } }

.blk-list-logo {
  border-top: 2px solid #d9eaf3;
  border-bottom: 2px solid #d9eaf3;
  text-align: center;
  padding: 20px 0px;
  display: block;
  width: 100%;
  overflow: hidden; }
  .blk-list-logo .list {
    display: table;
    margin: 0 auto;
    white-space: nowrap;
    width: 100%; }
    .blk-list-logo .list .items {
      display: table-cell;
      vertical-align: middle;
      display: inline-block;
      margin-right: 30px; }
      .blk-list-logo .list .items:last-child {
        margin-right: 0px; }
      .blk-list-logo .list .items a img {
        max-height: 66px; }
  @media screen and (max-width: 768px) {
    .blk-list-logo {
      padding: 15px 0px; }
      .blk-list-logo .list {
        max-width: 400px; }
        .blk-list-logo .list .items {
          margin-right: 6.9%; }
          .blk-list-logo .list .items a {
            display: block;
            width: 100%; }
            .blk-list-logo .list .items a img {
              width: 100%; }
          .blk-list-logo .list .items:nth-child(1) {
            width: 14.5%; }
          .blk-list-logo .list .items:nth-child(2) {
            width: 15.6%; }
          .blk-list-logo .list .items:nth-child(3) {
            width: 26.6%; }
          .blk-list-logo .list .items:nth-child(4) {
            width: 22.6%;
            margin-right: 0px; } }
